.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin: auto;
}

.form-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    width: 30%;
    /* background: ; */
}

.form-control input, .add-btn  {
    border: none;
    background: transparent;
    padding: 20px 10px;
    outline: none;
}

.form-control input {
    width: 100%;
}

.add-btn {
    cursor: pointer;
}

.select-container {
    padding: 15px 10px;
    border-radius: 10px;
    margin-left: 20px;
    width: 120px;
}
.inputg{
    text-align: center;
    color: rgb(54, 3, 3);
    text-shadow: 0px 6px 28px black;
    font-size: 30px;
    font-style: italic;
    font-family:cursive;
}

select.filter-todo {
    background: transparent;
    border: none;
    width: 100%;
    outline: none;
}