* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #D9D9D9;
  --grey-dark-color: #3A3A3A;
  --red-color: #FF0000;
  --btn-color: #00773E;
  --background-color: #C9C9C9;
  --background-colorb: #f3b6b6b2;
}

body {
  background: var(--background-color);
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 8rem 0;
}

h1,
h2,
h3,
h4 {
  color: var(--grey-dark-color);
  font-weight: 200;
}

.add-todo-btn {
  background: transparent;
  color: var(--grey-dark-color);
  font-size: 18px;
  position: relative;
}

.del-todo-btn {
  background: transparent;
  color: var(--red-color);
  font-size: 18px;
  color: #FF0000;
  /* position: fixed; */
}

.complete-btn {
  background: var(--btn-color);
  border: none;
  padding: 10px 5px;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  word-wrap: normal;
  word-break: break-all;
  position: relative;
  z-index: 3;
  cursor: pointer;
  /* float:right; */
  width: 20%;
  /* border: 2px solid orange; */
  text-shadow: 0px 4px 2px black;

  /* position: relative; */
}

@media screen and (max-width:620px) {
  .complete-btn {
    width: 80%;
    margin-left: 5%;
    padding: 3px;
  }

  .flex-container li {
    width: 100%;
    margin-left: -17%;
    /* justify-content: stretch; */
  }

  .del-btn {

    color: brown;
    text-shadow: 0px 4px 6px black;
    cursor: move;
    margin-left: 5%;
    font-size: 40px;
    /* border: 2px solid yellow; */
  }
}

.textfield,
.card-container {
  background: var(--primary-color);
}

li {
  list-style: none;
}


.todo-item {
  width: 70%;
  border: 2px solid red;
  /* margin: 2rem; */
  /* z-index: 3; */
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px 0;
  /* margin-left: 20%; */
  /* position: relative; */
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
  align-items: center;
  position: relative;
  /* border: 2px solid green; */
  width: 42%;
  margin: auto;
  color: #fff;
}

.flex-container :hover.todo-items {
  font-style: italic;
  color: rgb(240, 240, 1);
  /* font-family: cursive; */
  /* font-size: 15px; */
  opacity: 1;
}

.flex-container li {
  border-radius: 10px;
  padding: 15px;
  position: relative;
  width: 67%;
  opacity: .8;
  box-shadow: 0 3px 3px rgb(54, 38, 38);
}

.done-btn {
  position: relative;
}

.del-btn {

  color: brown;
  text-shadow: 0px 4px 6px black;
  cursor: pointer;
  /* margin-left: 5%; */
  font-size: 40px;
  opacity: 0.4;
  /* border: 2px solid yellow; */
}

.del-btn:hover {
  opacity: 1;
  transform: rotate(70deg);
}